@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Welcome</h5>
        This is my first ASP.net web page.
        <a href="#">This is a dead link</a>
    </li>

    <li class="two">
        <h5>Explore</h5>
        Just look through my web site and look and how i am starting this ASP.net website.
        <a href="#">This is a dead link</a>
    </li>

    <li class="three">
        <h5>FeedBack</h5>
        Be sure to give me some feedback on how i can make this website look and feel more user friendly.
        <a href="#">This is a dead link</a>
    </li>
</ol>
